<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TraceRoute.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TraceRoute.Properties.Settings>
            <setting name="TextDataPath" serializeAs="String">
                <value>..\..\Data\Text</value>
            </setting>
            <setting name="XmlDataPath" serializeAs="String">
                <value>..\..\Data\Xml</value>
            </setting>
            <setting name="MaxHops" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="LocalHostsFile" serializeAs="String">
                <value>.\LocalHosts.Xml</value>
            </setting>
        </TraceRoute.Properties.Settings>
    </userSettings>
</configuration>